html, body, .content-wrapper, .xmodule_display.xmodule_VideoBlock, .video {
    font-family: 'Roboto' !important;
    overflow-x: hidden !important;
    margin: 0 !important;
    border: 0;
}

html, body, .content-wrapper, .course-wrapper main, .xmodule_display.xmodule_VideoBlock, .video {
    height: 100% !important;
}

.content-wrapper, .course-wrapper main {
    background: #F7F7F7 !important;
    padding: 0 !important;
}

p:empty {
    display: none !important;
}

blockquote {
    margin: 1em 9.5px !important;
}

p {
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: -0.5px !important;
    color: black !important;
    padding: 0 12px !important;
}

p span {
    background: #F7F7F7 !important;
    font-size: 16px !important;
}

p:not(:first-child) {
    padding-top: 10px !important;
}

h2.unit-title {
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-size: 26px !important;
    font-weight: bold !important;
    font-feature-settings: "liga" !important;
    margin-bottom: 20px !important;
    color: #0025A5 !important;
    letter-spacing: -1px;
    font-feature-settings: "liga"off !important;
    padding-left: 10px;
}

h3.hd-2 {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 17px;
    color: #FFFFFF;
    background: #0025A5 !important;
}

.hd-5 {
    color: #fff !important;
}

.xmodule_display.xmodule_VideoBlock .video {
    background: #0025A5 !important;
    display: block;
    padding: 40px 9px !important;
    outline: none;
    border-radius: 0 !important;
    width: inherit !important;
    height: 100% !important;
}

/* style video when expanded */

.xmodule_display.xmodule_VideoBlock .video.video-fullscreen .tc-wrapper .video-wrapper object, .xmodule_display.xmodule_VideoBlock .video.video-fullscreen .tc-wrapper .video-wrapper iframe, .xmodule_display.xmodule_VideoBlock .video.video-fullscreen .tc-wrapper .video-wrapper video {
    position: inherit !important;
    width: auto !important;
    height: auto !important;
    height: inherit !important;
    width: -webkit-fill-available !important;
}

.xmodule_display.xmodule_VideoBlock .video.video-fullscreen .tc-wrapper .video-controls {
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100%;
}

.xblock.xblock-student_view.xblock-student_view-video.xmodule_display.xmodule_VideoBlock.xblock-initialized h3 {
    margin-bottom: 0px !important;
}

/* end of video style when expanded */

video {
    background: url(.jpg), #189AD1 !important;
    border-radius: 25px !important;
}

.xmodule_display.xmodule_VideoBlock .video .video-wrapper {
    margin: 0 !important;
}

.xmodule_display.xmodule_VideoBlock .video .video-wrapper .video-player {
    overflow: hidden !important;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    html, body {
        overflow-x: none !important;
    }
    .audio_block {
        position: absolute;
        width: 90%;
        height: 400px;
        left: auto;
        right: auto;
        margin: 23px;
        background-image: url(https://images.pexels.com/photos/2065490/pexels-photo-2065490.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=11100);
    }
    h3.hd-2 {
        padding: 20px;
        font-weight: bold;
        font-size: 20px;
        line-height: 17px;
        color: #FFFFFF;
        background: #0025A5 !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .audio_block {
        position: absolute;
        width: 100%;
        left: 1px;
    }
    h3.hd-2 {
        padding: 20px;
        font-weight: bold;
        font-size: 20px;
        line-height: 17px;
        color: #FFFFFF;
        background: #0025A5 !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .xmodule_display.xmodule_VideoBlock .video .video-wrapper .video-player {
        position: relative;
        overflow: hidden !important;
    }
    .audio_block {
        position: absolute;
        width: 90%;
        height: 554px;
        margin: 70px 36px 0px;
    }
    h3.hd-2 {
        padding: 20px;
        font-weight: bold;
        font-size: 20px;
        line-height: 17px;
        color: #FFFFFF;
        background: #0025A5 !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    h3.hd-2 {
        padding: 20px;
        font-weight: bold;
        font-size: 20px;
        line-height: 17px;
        color: #FFFFFF;
        background: #0025A5 !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    h3.hd-2 {
        padding: 20px;
        font-weight: bold;
        font-size: 20px;
        line-height: 17px;
        color: #FFFFFF;
        background: #0025A5 !important;
    }
}

.xmodule_display.xmodule_HtmlBlock * {
    line-height: 1;
}

.course-wrapper .course-content .vert-mod .vert, .course-wrapper .courseware-results-wrapper .vert-mod .vert {
    border-bottom: white !important;
    margin-bottom: 15px;
    padding: 0 0 15px;
}

/* Test your knowledge style*/

.course-wrapper .course-content .xblock.xblock-student_view-vertical, .course-wrapper .course-content .xblock.xblock-public_view-vertical, .course-wrapper .courseware-results-wrapper .xblock.xblock-student_view-vertical, .course-wrapper .courseware-results-wrapper .xblock.xblock-public_view-vertical {
    padding: 16px 0 !important;
}

.xmodule_display.xmodule_HtmlBlock h2, h4:last-of-type {
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 13px !important;
    line-height: 17px !important;
    font-feature-settings: "liga"off !important;
    color: #000000 !important;
    margin: 0 !important;
    padding: 8px !important;
    letter-spacing: 0px;
}

.xmodule_display.xmodule_ProblemBlock div.problem .choicegroup label, .xmodule_display.xmodule_ProblemBlock div.problem .choicetextgroup label, .xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_ProblemBlock .choicegroup label, .xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_ProblemBlock .choicetextgroup label {
    box-sizing: border-box;
    display: inline-block;
    clear: both;
    margin: 10px;
    width: auto !important;
    border-radius: 8px !important;
    padding: none !important;
    background-color: #ffffff !important;
}

label {
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: normal;
    font-size: 18px !important;
    line-height: 23px !important;
    font-feature-settings: 'liga'off !important;
    color: #000000 !important;
}

.xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_ProblemBlock .choicegroup input:focus+label, .xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_ProblemBlock .choicetextgroup input:focus+label, .xmodule_display.xmodule_ProblemBlock div.problem .choicegroup input:focus+label, .xmodule_display.xmodule_ProblemBlock div.problem .choicetextgroup input:focus+label, .xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_ProblemBlock .choicegroup input:hover+label, .xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_ProblemBlock .choicetextgroup input:hover+label, .xmodule_display.xmodule_ProblemBlock div.problem .choicegroup input:hover+label, .xmodule_display.xmodule_ProblemBlock div.problem .choicetextgroup input:hover+label::selection {
    background-color: #3684f1 !important;
    color: #fff !important;
    cursor: pointer !important;
}

.xblock-student_view-html>p {
    margin: inherit !important;
}

.xblock-student_view-html>p {
    margin: 0 0 0 10px !important;
    font-family: 'Roboto';
}

.hd-3 {
    font-size: 23px;
    padding: 1rem;
    font-weight: bold;
    background-color: #0025A5;
    margin: 1rem 0 1rem 0 !important;
    color: white !important;
    font-size: 23px !important;
}

.xmodule_display.xmodule_ProblemBlock div.problem-progress, p {
    display: inline-block;
    color: #5e5e5e;
    font-size: 0.875em;
    border-left: 1px solid #DDDDDD !important;
    padding: 10px !important;
}

p:empty, p:blank {
    display: none !important;
    background: lightblue !important;
}

li p {
    border-left: none !important;
    padding: 0 !important;
    margin-bottom: 0.5rem !important;
    display: inline-block;
    width: 90%;
    font-size: 16px;
}

li span {
    border-left: none !important;
    padding: 0 !important;
    margin-bottom: 0.5rem !important;
    display: inline-block;
    width: 90%;
    font-size: 16px;
}

.xblock-student_view-html ul {
    list-style: none !important;
    padding: 0 !important;
    border-left: 1px solid #DDDDDD !important;
    margin: 0 0 0 10px !important;
}

.xblock-student_view-html ul li {
    list-style-type: none !important;
    margin: 0 1rem 0 1rem !important;
    display: inline-block;
    line-height: 20px !important;
}

pre img {
    margin: auto;
    display: block;
}

.xblock-student_view-html ul li::before {
    content: ' ';
    background-color: black;
    display: inline-block;
    width: 0.4rem;
    border-radius: 50%;
    height: 0.4rem;
    text-align: center;
    margin-right: 0.5rem;
    position: relative;
    top: 0.5rem;
}

.xblock-student_view-html h3 {
    font-size: 23px;
    padding: 1rem;
    font-weight: bold;
    background-color: #0025A5;
    margin: 1rem 0 1rem 0 !important;
}

.xblock-student_view-html h3 span{
    color: white !important;
    font-size: 23px !important;
}

.xblock-student_view-html h4 {
    font-size: 20px;
    padding: 1rem;
    font-weight: bold;
    text-align: left;
    margin: 1rem 0 1rem 0 !important;
}

.xblock-student_view-html h4 span{
    font-size: 20px !important;
    text-decoration: underline;
    font-family: 'Roboto' !important;
}

.xmodule_display.xmodule_ProblemBlock div.problem .choicegroup input[type="radio"], .xmodule_display.xmodule_ProblemBlock div.problem .choicegroup input[type="checkbox"] {
    left: 0.5625em;
    position: absolute;
    top: 0.5625em;
    width: 22px;
    height: 22px;
    z-index: 1;
    display: none !important;
}

.xmodule_display.xmodule_ProblemBlock div.problem .choicegroup input:checked+label {
    color: white !important;
    background-color: #3684f1 !important;
}

.xmodule_display.xmodule_ProblemBlock div.problem .choicegroup input:hover+label {
    background-color: white !important;
    color: black !important;
}
/* End of test your knowledge style */

/* Syle Audio content */
#content.content-wrapper.main-container {
    background: radial-gradient(circle at top right, #16222A, #3A6073) !important;
}

.courseware-results-wrapper {
    background: radial-gradient(circle at top right, #16222A, #3A6073) !important;
}

.audio_block {
    background-image: url(https://images.pexels.com/photos/2065490/pexels-photo-2065490.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=11100);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* End of Audio content style */
.audio_block>audio {
    position: absolute;
    bottom: -100px;
    width: -webkit-fill-available;
}

.course-tabs {
    background: orange !important;
}

.bookmark-button-wrapper .instructor-info-action .sequence-nav .page-header .course-tabs .wrapper-preview-menu {
    display: none !important;
}

.global-header {
    border-bottom: none !important;
}

.course-wrapper .course-content ul li, .course-wrapper .courseware-results-wrapper ul li {
    margin-bottom: 0.70788em;
    font-size: 16px !important;
}